  <div class="fields">
	
	  <div class="field">
	    <%= f.label :name %><br />
	    <%= f.text_field :name %>
	  </div>

		<div class="field">
		<%= f.file_field :photo %>
	  </div>
	
  	<%= link_to_remove_fields "remove", f %>

  </div>
 
