<div id="content">
	<div class="container clearfix">	
		
		<div id="breadcrumbs">
			<a href="http://elegantthemes.com/preview/eStore">Home</a> <span class="sep"></span>Clothing					
		</div> <!-- end #breadcrumbs -->	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(http://sandbox.drope.org/wp-content/uploads/2011/02/vestido-cinza1-162x112.jpg) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>ver detalhes</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(&quot;http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/timthumb.php?src=http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/shoes-1.jpg&amp;h=130&amp;w=193&amp;q=80&amp;zc=1&quot;) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>more info</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(&quot;http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/timthumb.php?src=http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/shoes-1.jpg&amp;h=130&amp;w=193&amp;q=80&amp;zc=1&quot;) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>more info</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(&quot;http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/timthumb.php?src=http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/shoes-1.jpg&amp;h=130&amp;w=193&amp;q=80&amp;zc=1&quot;) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>more info</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(&quot;http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/timthumb.php?src=http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/shoes-1.jpg&amp;h=130&amp;w=193&amp;q=80&amp;zc=1&quot;) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>more info</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
					<div class="product">
						<div class="product-content clearfix">
							<a class="image" href="http://elegantthemes.com/preview/eStore/?p=27"><span style="background: url(&quot;http://elegantthemes.com/preview/eStore/wp-content/themes/eStore/timthumb.php?src=http://elegantthemes.com/preview/eStore/wp-content/uploads/2010/08/shoes-1.jpg&amp;h=130&amp;w=193&amp;q=80&amp;zc=1&quot;) no-repeat scroll 0% 0% transparent;" class="rounded"></span>
							<span class="tag" style="text-indent: 0px;"><span><cufon class="cufon cufon-canvas" alt="$29.99" style="width: 42px; height: 22px;"><canvas width="50" height="25" style="width: 50px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>$29.99</cufontext></cufon></span></span></a>
							<h3 style="text-indent: 0px;"><a href="http://elegantthemes.com/preview/eStore/?p=27"><cufon class="cufon cufon-canvas" alt="Mens " style="width: 63px; height: 24px;"><canvas width="83" height="25" style="width: 83px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Mens </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Shoes" style="width: 64px; height: 24px;"><canvas width="80" height="25" style="width: 80px; height: 25px; top: -2px; left: -1px;"></canvas><cufontext>Shoes</cufontext></cufon></a></h3>
							<a class="more" href="http://elegantthemes.com/preview/eStore/?p=27"><span>more info</span></a>
							<span class="band onsale"></span>
						</div> <!-- .product-content -->
					</div> <!-- .product -->
											
					<div class="clear"></div>																				
					
					<div class="wp-pagenavi">
						<span class="pages">Page 1 of 2</span><span class="current" style="text-indent: 0px;"><cufon class="cufon cufon-canvas" alt="1" style="width: 5px; height: 20px;"><canvas width="14" height="22" style="width: 14px; height: 22px; top: -2px; left: 0px;"></canvas><cufontext>1</cufontext></cufon></span><a class="page" href="http://elegantthemes.com/preview/eStore/?cat=10&amp;paged=2" style="text-indent: 0px;"><cufon class="cufon cufon-canvas" alt="2" style="width: 8px; height: 20px;"><canvas width="14" height="22" style="width: 14px; height: 22px; top: -2px; left: 0px;"></canvas><cufontext>2</cufontext></cufon></a><a class="nextpostslink" href="http://elegantthemes.com/preview/eStore/?cat=10&amp;paged=2">»</a>
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					<div class="widget widget_recent_entries" id="recent-posts-3">		
						<h4 class="widgettitle" style="text-indent: 0px;"><cufon class="cufon cufon-canvas" alt="Recent " style="width: 63px; height: 30px;"><canvas width="78" height="34" style="width: 78px; height: 34px; top: -3px; left: -1px;"></canvas><cufontext>Recent </cufontext></cufon><cufon class="cufon cufon-canvas" alt="Products" style="width: 79px; height: 30px;"><canvas width="90" height="34" style="width: 90px; height: 34px; top: -3px; left: -1px;"></canvas><cufontext>Products</cufontext></cufon></h4>
						<div class="widget-content">		
							<ul>
								<li><a title="Vintage Wallet" href="http://elegantthemes.com/preview/eStore/?p=140">Vintage Wallet</a></li>
								<li><a title="Designer Pillows" href="http://elegantthemes.com/preview/eStore/?p=51">Designer Pillows</a></li>
								<li><a title="Mens Shoes" href="http://elegantthemes.com/preview/eStore/?p=27">Mens Shoes</a></li>
								<li><a title="Toiletry Collection" href="http://elegantthemes.com/preview/eStore/?p=336">Toiletry Collection</a></li>
								<li><a title="Silverware" href="http://elegantthemes.com/preview/eStore/?p=330">Silverware</a></li>
							</ul>
						</div> <!-- .widget-content -->
					</div> <!-- end .widget -->
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>