<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<div class="post">
						
						<h3>Formas de Pagamento</h3>
						<br>
						<p>
						A AnnaK Loja Online trabalha com duas empresas para facilitar sua compra. São elas o PayPal e o PagSeguro.
						<p>
						O PayPal é uma empresa internacional muito forte no mercado norte americano, está atuando no Brasil desde o início de 2011. O PayPal aceita as principais bandeiras de cartão de crédito (Visa, Master, American Express, Discover e Maestro), para compra à vista ou parcelada (consulte condições de parcelamento).
						<p>
						O PagSeguro é uma empresa do grupo UOL, atua neste mercado de pagamentos desde XXXX. Trabalha com todas as bandeiras de cartão de crédito (Master, Visa, Hipercard, Aurea, Diners e American Express), para compras à vista ou parcelada (consulte condições de parcelamento). O PagSeguro também faz transferência bancária pelos Bancos Bradesco, Itaú, Santander, Banrisul e Banco do Brasil, além do boleto bancário.
						<p>
						Condições de parcelamento:
						<p>
						Aqui na AnnaK Loja Online você pode parcelar suas compras acima de R$ 100,00 (cem reais) em até 3x sem juros, com parcelas mínimas de R$ 50,00 (cinqüenta reais). Para um parcelamento maior haverá incidência de juros de acordo com seu cartão de crédito, confira no carrinho de compras.
						<p>
						Você também pode efetuar seu pagamento à vista, com 5% (cinco por cento) de desconto.
						
						
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>