<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<div class="post">
						<h3>Guia de Medidas</h3>
						<br>
						<p>
						Nós da AnnaK Loja Online sabemos que não é fácil encontrar a roupa na medida certa, para ajudar na sua compra desenvolvemos um guia de medidas. Em todas as roupas você encontra as medidas de cada tamanho.
						</p>
						<p>
						Para tirar suas medidas você vai precisar de uma fita métrica (daquelas de costureira). Existem dois tipos de medida, da parte superior (tronco) e da parte inferior (pernas), veja como medir cada uma delas.
						</p>
						<p>
						<strong>Tronco:</strong><br>
						Para medir o busto coloque a fita métrica bem na altura dos seus seios e dê toda a volta no seu corpo. Anote esta medida.
						Para medir o comprimento coloque a fira métrica no se ombro (esquerdo ou direito), cuidado para não ficar tensa e elevar o ombro. Desça até a altura do quadril, pronto você já tem as duas medidas.
						</p>
						<p>
						<strong>Pernas:</strong><br>
						Na verdade as medidas são de quadril e cintura, não das pernas.
						Para medir a cintura coloque a fita métrica na altura do seu umbigo e dê a volta, assim você tem a primeira medida.  
						Para medir o quadril coloque a fita métrica bem no meio do bumbum e meça toda a circunferência.
						Se mesmo assim você ficar com uma peça maior ou menor você tem direito e efetuar uma troca, confira na política de Trocas e Devoluções.
						</p>
					</div>
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>