<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<div class="post">
						
						<h3>Perguntas Freqüentes</h3>
						<br>
						<p>
						Reunimos nesta área as dúvidas mais comuns dos nossos clientes, para facilitar elas estão separadas por categoria, clique na que te interessa que ela irá mostrar as perguntas e respostas.
						<p>
						Sobre a AnnaK Loja Online e os Produtos
						P1-As roupas aqui da AnnaK Loja online são as mesmas que na Loja em Ribeirão Preto?
						R1 – Nem todos os modelos que temos na AnnaK Loja Online estão na loja em Ribeirão e vice-versa. 
						P2 – Quais os tamanhos disponíveis?
						R2 – A AnnaK Loja Online trabalha com numeração a partir do 46, chegando até o 58 em algumas peças.
						P3 – Como sei qual meu tamanho?
						R3 – Para facilitar desenvolvemos um Guia de Medidas, em todas as peças você encontra informações sobre as medidas da peça e na área Guia de Medidas você encontra como tirar suas medidas.
						Troca e devolução
						P1 – Uma das peças que comprei está com defeito, posso devolver? 
						R1 – Sim, confira todas as informações na área de trocas e devoluções.
						P2 – Estou arrependido da minha compra, posso devolver?
						R2 – Sim, confira todas as informações na área de trocas e devoluções.
						P3 – Errei o tamanho da peça, posso trocar?
						R3 – Sim, confira todas as informações na área de trocas e devoluções.
						P4 – Não gostei da peça que escolhi, posso trocar?
						R4 – Não, confira quais são os tipos de trocas na área de trocas e devoluções.
						P5 – Como funciona a troca? Escolho outro produto?
						R5 – Toda troca é convertida em crédito na loja, como um vale presente que pode ser utilizado para comprar o mesmo produto ou como parte do pagamento em outro a sua escolha.
						P6 – Quando quiser fazer a troca devo pagar o frete?
						R6 – Todas as despesas de envio para a primeira troca fica por conta da AnnaK Loja Online. Para as demais trocas os custos ficam por conta do comprador.
						P7 – Em quanto tempo posso solicitar a troca?
						R7 – Você tem até 7 dias corridos após o recebimento do produto para entrar em contato conosco solicitando a troca.
						Pagamento
						P1 – Quais as condições de pagamento?
						R1- À vista com 5% de desconto, em 3x sem juros para compras acima de R$100,00 e até 12x com juros em parcelas mínimas de R$ 50,00.
						P2 – Quais cartões vocês aceitam?
						R2 – Trabalhamos com empresas de pagamento, o PayPal e o PagSeguro. Confira todas as informações na área de Prazos de entrega.
						Entrega
						P1 – Acabei de realizar a compra, quando recebo?
						R1 – No e-mail de confirmação da sua compra enviamos o prazo, mas se tiver qualquer dúvida sobre os prazos acesse a página de Prazos de Entrega.
						P2 – Quanto custa o frete?
						R2 – O valor do frete varia de acordo com a sua localização, confira na tabela na página Prazos de Entrega. 
						
						
						
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>