<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<div class="post">
						<h3>Prazos de Entrega</h3>
						<p>
						Trabalhamos com entregas via Correios, no momento da compra você pode escolher o tipo de envio que deseja para seu produto, mas lembre-se que o tipo de envio influencia no valor do frete, confira no seu carrinho.
						<p>
						Os prazos apresentados começam a contar a partir da confirmação do pagamento pelo PayPal ou PagSeguro.  Se os Correios estiverem em greve ou com algum tipo de problema  nas entregas não nos responsabilizamos por eventuais atrasos.
						<p>
						Você será informado de todas as etapas de compra por e-mail, por isso cadastre seu e-mail corretamente.
						<p>
						Os tipos de envio são: 
						<p>
						<span class="strong"><strong>PAC (Encomenda Normal), prazos por região:</strong></span>
						<table style="width:100%">
							<tr>
								<th>Região</th>
								<th>Prazo</th>
								<th>Preço</th>
							</tr>
							<tr>
								<td>Sul</td>
								<td>8 dias úteis</td>
								<td>R$ 16,90</td>
							</tr>
							<tr>
								<td>São Paulo</td>
								<td>5 dias úteis</td>
								<td>R$ 12,90</td>
							</tr>
							<tr>
								<td>Sudeste (exceto São Paulo)</td>
								<td>7 dias úteis</td>
								<td>R$ 16,90</td>
							</tr>
							<tr>
								<td>Centro-Oeste</td>
								<td>8 dias úteis</td>
								<td>R$ 19,60</td>
							</tr>
							<tr>
								<td>Nordeste</td>
								<td>11 dias úteis</td>
								<td>R$ 23,50</td>
							</tr>
							<tr>
								<td>Norte</td>
								<td>11 dias úteis</td>
								<td>R$ 23,50</td>
							</tr>
						</table>
						<br>
						<p>
						<span class="strong"><strong>Sedex (encomenda expressa), prazos por região:</strong></span>
						<table style="width:100%">
							<tr>
								<th>Região</th>
								<th>Prazo</th>
								<th>Preço</th>
							</tr>
							<tr>
								<td>Sul</td>
								<td>3 dias úteis</td>
								<td>R$ 41,60</td>
							</tr>
							<tr>
								<td>São Paulo</td>
								<td>3 dias úteis</td>
								<td>R$ 14,90</td>
							</tr>
							<tr>
								<td>Sudeste (exceto São Paulo)</td>
								<td>3 dias úteis</td>
								<td>R$ 41,60</td>
							</tr>
							<tr>
								<td>Centro-Oeste</td>
								<td>3 dias úteis</td>
								<td>R$ 55,50</td>
							</tr>
							<tr>
								<td>Nordeste</td>
								<td>3 dias úteis</td>
								<td>R$ 64,90</td>
							</tr>
							<tr>
								<td>Norte</td>
								<td>5 dias úteis</td>
								<td>R$ 72,30</td>
							</tr>
						</table>
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>