<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					
					<div class="post">
						
						<h3>Política de privacidade</h3>
						<br>
						<p>
						Todos os dados que vocês, clientes da AnnaK Loja Online, colocam em nosso cadastro são para uso exclusivo nosso, não podendo ser vendido ou compartilhado com outras marcas ou empresas.
						<p>
						Entendemos que o bem mais precioso que nossos clientes possuem são seus dados, por isso prezamos por isso mantemos uma política de segurança séria. <a href="">Conheça</a>.
						
						
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>