<div id="content">
	<div class="container clearfix">	
		
		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					<div class="post">
						
						<h3>Trocas e Devoluções</h3>
						<br>
						<p>
						Aqui na AnnaK Loja Online a primeira troca ou devolução é por nossa conta, mas para isso os produtos não podem ter sido usados ou lavados e devem estar com a etiqueta afixada na peça. Confira os passos necessários para efetuar esta troca/devolução. Todas as solicitações de troca deverão ser feitas no período de até 7 dias corridos a partir da data de recebimento do produto (de acordo com o site dos Correios).
						<p>
						<ol>
							<li>
								Envie um e-mail para trocas@annak.com.br informando o tipo de troca (veja na tabela abaixo) no assunto do e-mail. No corpo do e-mail coloque o número do pedido, o número da nota fiscal e seus dados cadastrais. 
								<li>Entraremos em contato para confirmar as informações referentes a troca, obter mais informações se  necessário e passar o número do envio da encomenda pelos Correios.
								<li>Para envio pelos Correios: 
									<ol>
										<li>
											Caixa: você deve colocar o(s) produto(s) a serem devolvidos na mesma caixa que foram enviados, colocar a Nota Fiscal dentro da caixa e colar o papel com os dados do destinatário que enviamos para você junto com seu pedido. Depois é só lacrar a caixa e levar até uma loja dos Correios com o número de envio que passamos para você. 
											<li>Envelope: Você deve ter notado a que junto com sua encomenda foi enviado um envelope extra já com os dados preenchidos, para caso houvesse a necessidade de devolver as peças. Neste caso coloque a peça e na Nota Fiscal dentro do envelope, lacre e leve até uma loja dos Correios com o número de envio que passamos para você.
									</ol>
							</ol>
						Se as peças não seguirem as regras aqui apresentadas a troca ou devolução não será efetuada, então atenção ao enviar as peças.
						Caso queira efetuas uma segunda troca no mesmo número de pedido o comprador será responsável por acondicionar as peças corretamente garantindo a integridade das mesmas. Para esta nova troca todos os custos envolvidos no envio serão de responsabilidade do comprador.
						
						<p>
							
						Tipos de Trocas/Devoluções
						<table>
							<tr>
								<th>Tipo</th>
								<th>Descrição</th>
								<th>Solução</th>
							</tr>
							<tr>
								<td>Devolução por arrependimento</td>
								<td>Se ao receber a peça o cliente perceber que não quer mais ficar com ela poderá solicitar a devolução.</td>
								<td>O cliente deverá optar pelo extorno do valor em seu cartão de crédito ou ficar com crédito na loja para uma compra futura.</td>
							</tr>
							<tr>
								<td>Devolução por defeito</td>
								<td>Caso a peça apresente algum tipo de defeito.</td>
								<td>O cliente deverá informar o tipo de defeito apresentado pela peça, este será avaliado assim que a peça estiver de volta a AnnaK Loja Online. 
								Se for constado o defeito o cliente receberá o valor da peça como crédito na loja para uma compra futura. Caso o defeito não seja constado a peça será devolvida ao cliente sem ônus para o mesmo.</td>
							</tr>
							<tr>
								<td>Troca</td>
								<td>O cliente recebe a peça, mas o tamanho não está correto.</td>
								<td>Será disponibilizado para o cliente um crédito no valor da peça para uma compra futura.</td>
							</tr>
						</table>
					</div>
					
				</div> <!-- #left-column -->
	
				<div id="sidebar">
					
				</div> <!-- end #sidebar -->						
			</div> <!-- #main-content -->
		</div> <!-- #main-area -->
		
		<div id="main-area-bottom"></div>
						
	</div> <!-- .container -->
</div>