<div id="content">
	<div class="container clearfix">

		<div id="main-area">
			<div class="clearfix" id="main-content">
				<div id="left-column">
					<div class="post">
					
						<h3>Minha conta</h3>
					
						<ul>
						<li><a href="<%=edit_user_registration_path%>">Alterar minha senha</a>
						<li><a href="<%=minha_conta_dados_path%>">Alterar meus dados cadastrais</a>
						<li><a href="<%=minha_conta_pedidos_path%>">Visualizar meus últimos pedidos</a>
						</ul>
					</div>
				</div> <!-- left column -->
			</div> <!-- main content-->
		</div> <!-- main-area-->
	</div> <!-- container -->
</div> <!-- content -->
	
